@import "../../utils/commons.scss";

.container {
  .heroContainer {
    background-color: var(--clr-purple);
    color: var(--clr-text-dark);
    header {
      @extend .flexRow;
      position: relative;
      text-transform: uppercase;
      justify-content: center;
      color: var(--clr-text-light);
      padding: 10px 10%;

      .imageContainer {
        position: absolute;
        left: 10%;
        width: 3%;
        img {
          width: 100%;
        }
      }
      h4 {
        font-family: "Abril Fatface", cursive;
        font-size: 2rem;
      }
      p {
        font-weight: 600;
      }
    }
    .mainLine {
      padding: 4% 20%;
      text-transform: uppercase;
      color: var(--clr-text-light);
      text-align: center;
    }
    .whatContainer {
      padding: 10% 10% 5% 10%;
      border-radius: 50% 50% 0% 0% / 50% 50% 0% 0%;
      background-color: var(--clr-cream);

      h1 {
        color: var(--clr-heading-dark);
        text-transform: uppercase;
      }
      > .imagesContainer {
        @extend .flexRow;
        justify-content: space-between;
        > .imageContainer:first-child {
          align-self: center;
        }
        > .imageContainer:last-child {
          align-self: flex-end;
          margin-bottom: 30px;
        }
        > .centerContainer {
          @extend .flexCol;
          align-items: center;
          .textContainer {
            margin: 5%;

            @extend .flexCol;
            align-items: center;
          }
        }
      }
      > .textContainer {
        padding: 10px 5%;
        text-align: center;
        span {
          color: var(--clr-purple);
        }
      }
    }
    .whyContainer {
      background-color: var(--clr-cream);
      padding: 5% 10% 5% 10%;
      .why {
        @extend .flexCol;
        align-items: center;
        padding: 5% 0%;
      }
      h1 {
        color: var(--clr-heading-dark);
        text-transform: uppercase;
      }
    }
  }
  .howContainer {
    padding: 5% 10% 5% 10%;
    background-color: var(--clr-black);
    color: var(--clr-text-light);
    @extend .flexCol;
    > * {
      margin: 25px 0px;
    }
    overflow: hidden;
    align-items: center;
    .topContainer {
      @extend .flexRow;
      justify-content: center;
      position: relative;
      .imageContainer {
        position: absolute;
        right: -100%;
        width: 220px;
        img {
          width: 100%;
        }
      }
    }
    > h4 {
      font-size: 2.5rem;
    }
    .how {
      @extend .flexCol;
      align-items: center;

      h1 {
        text-transform: uppercase;
      }
    }
  }
  .whoContainer {
    padding: 10% 10% 5% 10%;
    background-color: var(--clr-cream);

    .topContainer {
      @extend .flexRow;
      position: relative;
      justify-content: center;
      .who {
        @extend .flexCol;
        align-items: center;
      }
      .imageContainer {
        position: absolute;
        right: -10%;
      }
    }
    h2 {
      margin-top: 7%;
      margin-bottom: 3%;
      font-family: "Lato", sans-serif;
      font-size: 2.5rem;
      font-weight: 900;
      text-align: center;
    }
    h4 {
      font-size: 2rem;
      text-align: center;
      span {
        color: var(--clr-purple);
      }
    }
    .excuseGeneratorContainer {
      margin-top: 10%;
      padding: 10%;
      padding-bottom: 3%;
      background-color: var(--clr-purple);
      color: var(--clr-text-light);
      > h1,
      > p {
        text-align: center;
      }
      > p {
        font-size: 2rem;
        font-weight: 600;
      }
      > h1 {
        text-transform: uppercase;
      }
      .content {
        margin: 10% 0px;
        @extend .flexRow;
        justify-content: flex-start;
        height: 100vh;
        .leftContainer {
          overflow: auto;
          @extend .flexCol;
          justify-content: flex-start;
          max-width: 40%;
          padding: 20px;
          height: 100%;
          border-radius: 10px;
          border: 5px solid var(--clr-black);
          box-shadow: 5px 5px 0px 5px #88d387;
          background-color: var(--clr-cream);
          color: var(--clr-text-dark);

          span {
            margin: 10px 5px;
            font-size: 1.5rem;
            font-weight: 800;
            input {
              width: 200px;
              margin-left: 10px;
              background-color: transparent;
              padding: 4px;
              border: 2px solid var(--clr-text-dark);
              border-radius: 3px;
              outline: none;
            }
          }
          .divider {
            width: 95%;
            height: 1px;
            background-color: var(--clr-text-dark);
          }
        }
        .rightContainer {
          @extend .flexCol;
          height: 100%;
          justify-content: flex-start;
          margin-left: 20px;
          padding: 20px;
          > h4 {
            font-size: 2.5rem;
            margin: 20px 0px;
          }
          span,
          label {
            font-size: 1.5rem;
            font-weight: 700;
          }
          .slidersContainer {
            margin: 5% 0px;
            border: 2px solid #ac6eeb;
            border-radius: 10px;
            padding: 30px;
            input {
              width: 250px;
            }
            .labelsContainer {
              @extend .flexRow;
              justify-content: space-between;
            }
          }
          button {
            cursor: pointer;
            margin-bottom: 20px;
            color: var(--clr-text-dark);
            font-weight: 900;
            background-color: #ffca49;
            padding: 10px 30px;
            border: 3px solid var(--clr-text-dark);
            border-radius: 5px;
            box-shadow: 5px 5px 0px 0px #e59bd5;
          }

          .inputContainer {
            @extend .flexCol;
            margin: 5px 0px;
            label {
              font-size: 1.5rem;
            }
            input {
              margin: 10px 0px;
              color: var(--clr-text-light);
              font-size: 2rem;
              font-weight: 700;
              width: 300px;
              outline: none;
              border: none;
              background-color: transparent;
              border-bottom: 2px solid var(--clr-text-light);
            }
          }
        }
      }
    }
  }
  .FAQContainer {
    padding: 10% 5% 5% 5%;
    .topContainer {
      @extend .flexRow;
      position: relative;
      justify-content: center;
      .who {
        @extend .flexCol;
        align-items: center;
        > h1 {
          text-transform: uppercase;
        }
      }
      .imageContainer {
        position: absolute;
        left: -10%;
      }
    }
  }
}
