@import "../../utils/commons.scss";

.hehe {
  color: red;
}
.container {
  overflow: hidden;
  .heroContainer {
    position: relative;
    .animatedBlob1,
    .animatedBlob2,
    .animatedBlob3 {
      position: absolute;

      filter: blur(5rem);
      transform: translate(-50%, -50%) scale(3);
      opacity: 0.7;
      z-index: 1;
    }
    .animatedBlob1 {
      top: 2%;
      left: 20%;
    }
    .animatedBlob2 {
      top: 13%;
      left: 50%;
      z-index: 0;
      transform: translate(-50%, -50%) scale(1.4);
    }
    .animatedBlob3 {
      top: 2%;
      right: 0;
    }

    background-color: var(--clr-purple);
    color: var(--clr-text-dark);
    header {
      z-index: 2;
      @extend .flexRow;
      position: relative;
      text-transform: uppercase;
      justify-content: center;
      color: var(--clr-text-light);
      padding: 10px 10%;

      .imageContainer {
        position: absolute;
        left: 10%;
        width: 3%;
        img {
          width: 100%;
        }
      }
      h4 {
        font-family: "Abril Fatface", cursive;
        font-size: 2rem;
      }
      p {
        font-weight: 600;
      }
    }
    .mainLine {
      padding: 4% 20%;
      z-index: 2;

      text-transform: uppercase;
      color: var(--clr-text-light);
      text-align: center;
      position: relative;
      h1 {
        span {
          text-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.3);
          font-family: "Abril Fatface", cursive;
          font-size: 7.5rem;
          color: white !important;
        }
      }
      @media screen and (max-width: 600px) {
        padding: 4% 5%;
        margin: 30px 0px;
        h1 {
          span {
            font-size: 5rem;
          }
        }
      }
    }
    .whatContainer {
      padding: 10% 10% 5% 10%;
      border-radius: 50% 50% 0% 0% / 50% 50% 0% 0%;
      background-color: var(--clr-cream);
      @media screen and (max-width: $screen-md) {
        .imagesContainer {
          .imageContainer {
            display: flex;
            justify-content: center;
          }
          img {
            width: 80%;
          }
        }
      }
      h1 {
        color: var(--clr-heading-dark);
        text-transform: uppercase;
      }
      > .imagesContainer {
        @extend .flexRow;
        justify-content: space-between;
        > .imageContainer:first-child {
          align-self: center;
        }
        > .imageContainer:last-child {
          align-self: flex-end;
          margin-bottom: 30px;
        }
        > .centerContainer {
          @extend .flexCol;
          align-items: center;
          .textContainer {
            margin: 5%;

            @extend .flexCol;
            align-items: center;
          }
        }
      }
      > .textContainer {
        padding: 10px 5%;
        text-align: center;
        span {
          color: var(--clr-purple);
        }
      }
      @media screen and (max-width: $screen-sm) {
        border-radius: 110px 110px 0% 0% / 110px 110px 0% 0%;
      }
    }
    .whyContainer {
      background-color: var(--clr-cream);
      padding: 5% 10% 5% 10%;
      @extend .flexCol;
      align-items: center;
      .why {
        width: fit-content;
        @extend .flexCol;
        align-items: center;
        padding: 5% 0%;
        img {
          width: 100%;
        }
      }
      h1 {
        color: var(--clr-heading-dark);
        text-transform: uppercase;
      }
    }
  }
  .howContainer {
    padding: 5% 10% 5% 10%;
    background-color: var(--clr-black);
    color: var(--clr-text-light);
    @extend .flexCol;
    > * {
      margin: 25px 0px;
    }
    overflow: hidden;
    align-items: center;
    .topContainer {
      @extend .flexRow;
      justify-content: center;
      position: relative;
      .how {
        @extend .flexRow;
        img {
          width: 100%;
        }
      }
      .imageContainer {
        position: absolute;
        right: -100%;
        width: 220px;
        @media screen and (max-width: $screen-md) {
          width: 150px;
          right: -50%;
        }
        @media screen and (max-width: 700px) {
          width: 150px;
          right: -40%;
        }
        @media screen and (max-width: 600px) {
          right: 0;
          position: relative;
        }
        img {
          width: 100%;
        }
      }
      @media screen and (max-width: 600px) {
        flex-direction: column;
      }
    }
    > h4 {
      font-size: 2.5rem;
      @media screen and (max-width: 600px) {
        text-align: center;
      }
    }
    .how {
      @extend .flexCol;
      align-items: center;

      h1 {
        text-transform: uppercase;
      }
    }
  }
  .whoContainer {
    padding: 10% 10% 5% 10%;
    background-color: var(--clr-cream);

    .topContainer {
      @extend .flexRow;
      position: relative;
      justify-content: center;
      margin: 20px 0px;
      .who {
        @extend .flexCol;
        align-items: center;
        img {
          width: 100%;
          margin: 10px 0px;
        }
      }
      .imageContainer {
        position: absolute;
        right: 0%;
        width: 200px;
        @media screen and (max-width: $screen-lg) {
          img {
            width: 80%;
          }
        }
      }
      @media screen and (max-width: 800px) {
        flex-direction: column;

        .imageContainer {
          position: relative;
          right: 0;
          display: flex;
          justify-content: center;
        }
      }
    }
    h2 {
      margin-top: 7%;
      margin-bottom: 3%;
      font-family: "Lato", sans-serif;
      font-size: 2.5rem;
      font-weight: 900;
      text-align: center;
    }
    h4 {
      font-size: 2rem;
      text-align: center;
      span {
        color: var(--clr-purple);
      }
    }
    .excuseGeneratorContainer {
      margin-top: 10%;
      margin: 10% 0px;
      padding: 10%;
      padding-bottom: 3%;
      background-color: var(--clr-purple);
      color: var(--clr-text-light);
      @media screen and (max-width: 1000px) {
        padding: 40px 30px;
      }
      > h1,
      > p {
        text-align: center;
      }
      > p {
        font-size: 2rem;
        font-weight: 600;
      }
      > h1 {
        text-transform: uppercase;
        font-size: 4.5rem;
        @media screen and (max-width: 600px) {
          font-size: 3.5rem;
        }
      }
      .content {
        margin: 10% 0px;
        @extend .flexRow;
        justify-content: flex-start;
        height: 100vh;

        .leftContainer {
          overflow: auto;
          @extend .flexCol;
          justify-content: flex-start;
          width: 40%;
          padding: 20px;
          height: 100%;
          border-radius: 10px;
          border: 5px solid var(--clr-black);
          box-shadow: 5px 5px 0px 5px #88d387;
          background-color: var(--clr-cream);
          color: var(--clr-text-dark);

          span {
            margin: 10px 5px;
            font-size: 1.5rem;
            font-weight: 800;
            input {
              width: 200px;
              margin-left: 10px;
              background-color: transparent;
              padding: 4px;
              border: 2px solid var(--clr-text-dark);
              border-radius: 3px;
              outline: none;
              @media screen and (max-width: $screen-lg) {
                width: 150px;
              }
              @media screen and (max-width: 600px) {
                margin-left: 0px;
              }
            }
          }
          .divider {
            width: 95%;
            height: 1px;
            background-color: var(--clr-text-dark);
          }
          @media screen and (max-width: 600px) {
            padding: 20px 10px;
          }
        }
        .rightContainer {
          @extend .flexCol;
          height: 100%;
          justify-content: flex-start;
          margin-left: 20px;
          padding: 20px;

          > h4 {
            font-size: 2.5rem;
            margin: 20px 0px;
            text-align: left;
          }
          span,
          label {
            font-size: 1.5rem;
            font-weight: 700;
          }
          .slidersContainer {
            margin: 5% 0px;
            border: 2px solid #ac6eeb;
            border-radius: 10px;
            padding: 30px;
            .sliderContainer {
              margin: 20px 0px;
            }
            input {
              width: 250px;
              @media screen and (max-width: 1000px) {
                width: 200px;
              }
              @media screen and (max-width: 600px) {
                width: 100%;
              }
            }

            .labelsContainer {
              @extend .flexRow;
              justify-content: space-between;
            }
            @media screen and (max-width: 600px) {
              width: 100%;
              padding: 20px;
            }
          }
          button {
            cursor: pointer;
            margin-bottom: 20px;
            color: var(--clr-text-dark);
            font-weight: 900;
            background-color: #ffca49;
            padding: 10px 30px;
            border: 3px solid var(--clr-text-dark);
            border-radius: 5px;
            box-shadow: 5px 5px 0px 0px #e59bd5;
          }

          .inputContainer {
            @extend .flexCol;
            margin: 5px 0px;
            label {
              font-size: 1.5rem;
            }
            input {
              margin: 10px 0px;
              color: var(--clr-text-light);
              font-size: 2rem;
              font-weight: 700;
              width: 300px;
              outline: none;
              border: none;
              background-color: transparent;
              border-bottom: 2px solid var(--clr-text-light);
              @media screen and (max-width: 1000px) {
                width: 220px;
              }
              @media screen and (max-width: 600px) {
                width: 100%;
              }
            }
            @media screen and (max-width: 600px) {
              width: 100%;
            }
          }
        }
        @media screen and (max-width: 1000px) {
          .leftContainer {
            width: 60%;
          }
        }
        @media screen and (max-width: 800px) {
          margin-bottom: 0px;
          flex-direction: column;
          height: fit-content;
          .rightContainer,
          .leftContainer {
            width: 80%;
          }
          .rightContainer {
            margin: 20px 0px;
            border-radius: 10px;
          }
        }
        @media screen and (max-width: 600px) {
          .rightContainer,
          .leftContainer {
            width: 100%;
          }
          .rightContainer {
            margin-left: 0px;
            margin-top: 20px;
            padding: 20px 0px;
          }
        }
      }
      @media screen and (max-width: 600px) {
        margin: 10% -10%;
      }
    }
  }
  .FAQContainer {
    padding: 10% 5% 5% 5%;
    .topContainer {
      @extend .flexRow;
      position: relative;
      justify-content: center;
      width: 100%;
      .FAQ {
        @extend .flexCol;
        align-items: center;
        img {
          width: 100%;
        }
        > h1 {
          text-transform: uppercase;
        }
      }
      .imageContainer {
        position: absolute;
        left: -8%;
      }
      @media screen and (max-width: 800px) {
        .imageContainer {
          left: -17%;
        }
      }
      @media screen and (max-width: 700px) {
        flex-direction: column;
        .imageContainer {
          display: flex;
          justify-content: center;
          position: relative;
          left: 0;
          margin: 10% 0;
        }
      }
    }
    @media screen and (max-width: 600) {
      padding: 10% 0% 5% 0%;
    }
  }
  .joinContainer {
    text-align: center;
    color: white;
    @extend .flexCol;
    align-items: center;
    background-color: #60189a;
    padding: 5%;
    padding-top: 50px;
    position: relative;
    .animatedBlob4,
    .animatedBlob5,
    .animatedBlob6 {
      position: absolute;

      filter: blur(5rem);
      transform: translate(-50%, -50%) scale(3);
      opacity: 0.7;
      z-index: 1;
    }
    .animatedBlob4 {
      top: 50%;
      left: 20%;
    }
    .animatedBlob5 {
      top: 70%;
      left: 50%;
      z-index: 0;
      transform: translate(-50%, -50%) scale(1.4);
    }
    .animatedBlob6 {
      top: 50%;
      right: 0;
    }
    .buttonsContainer {
      z-index: 2;
      margin: 20px 0px;
    }
    h1 {
      z-index: 2;
    }
    button {
      cursor: pointer;
      font-weight: 900;
      color: var(--clr-heading-dark);
      border: 5px solid var(--clr-heading-dark);
      border-radius: 20px;
      padding: 10px 20px;
      background-color: transparent;
      margin: 10px;
      @media screen and (max-width: 600px) {
        margin: 5px;
      }
      @media screen and (max-width: 505px) {
        width: 200px;
      }
    }
    z-index: 2;
    .imagesContainer {
      z-index: 2;
      width: 100%;
      @extend .flexRow;
      margin: 20px 0;
      img {
        width: 100%;
      }
    }
    .whiteLine {
      z-index: 2;
      height: 10px;
      background-color: var(--clr-text-light);
      width: 100%;
    }
    .nameAndLogo {
      margin-right: auto;
      z-index: 2;
      @extend .flexRow;
      div {
        margin-left: 10px;
        @extend .flexCol;
        span {
          font-size: 2rem;
          text-transform: uppercase;
          font-family: "Abril Fatface", cursive;
          font-weight: 600;
        }
        span:last-child {
          font-family: "Lato", sans-serif;
        }
      }
    }
  }
  .gradientContainer {
  }
}
.cursorHoverLight,
.cursorHover {
  width: 5rem !important;
  height: 5rem !important;
  background-color: transparent !important;
  border: 2px solid var(--clr-text-dark) !important;

  svg {
    opacity: 1 !important;
    transform: rotate(0deg) !important;
  }
}
.cursorHoverLight {
  border: 2px solid var(--clr-text-light) !important;

  svg {
    stroke: var(--clr-text-light) !important;
    opacity: 1 !important;
    transform: rotate(0deg) !important;
  }
}

// @media screen and (max-width: 800px) {
//   .animatedBlob1,
//   .animatedBlob2,
//   .animatedBlob3 {
//     position: absolute;

//     filter: blur(5rem);
//     transform: translate(-50%, -50%) scale(1);
//     opacity: 0.7;
//     z-index: 1;
//   }
//   .animatedBlob1 {
//     top: 50%;
//     left: 20%;
//   }
//   .animatedBlob2 {
//     top: 70%;
//     left: 50%;
//     z-index: 0;
//     transform: translate(-50%, -50%) scale(1);
//   }
//   .animatedBlob3 {
//     top: 50%;
//     right: 0;
//   }
// }
