@import "../../utils/commons.scss";

.container {
  @extend .flexRow;
  justify-content: space-between;
  border: 5px solid black;
  border-radius: 20px;
  margin: 4rem 0px;
  padding: 3rem;
  height: 300px;
  .imageContainer {
    width: 20%;
    height: 250px;
    @extend .flexRow;
    justify-content: flex-end;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .textContainer {
    @extend .flexCol;
    justify-content: space-evenly;
    height: 100%;
    width: 70%;
    > h4:first-child {
      width: fit-content;
      padding: 10px;
      border: 2px solid var(--clr-text-dark);
      border-radius: 50%;
    }
    h2 {
      font-size: 2.5rem;
      font-family: "Lato", sans-serif;
      font-weight: 900;
      span {
        color: #632bd9;
      }
    }
    p {
      font-size: 1.8rem;
    }
  }
}
