@import "./utils/commons.scss";

//variables
:root {
  //colors
  --clr-blue: #2c3eda;
  --clr-purple: #6d0cba;
  --clr-cream: #f1ead9;
  --clr-yellow: #ffca49;
  --clr-black: #2a2a2a;
  --clr-text-dark: #333333;
  --clr-heading-dark: #1f1f1f;
  --clr-text-light: white;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
html {
  font-size: 16px;

  cursor: none;
}
*::selection {
  background-color: var(--clr-text-dark);
  color: var(--clr-text-light);
}
h1,
h2 {
  font-family: "Abril Fatface", cursive;
}
h1 {
  font-size: 7.5rem;
}
h2 {
  font-size: 4.5rem;
}
h4 {
  font-size: 2rem;
}
p {
  font-size: 1.5rem;
}

.cursorHover {
  width: 5rem !important;
  height: 5rem !important;
  background-color: transparent !important;
  border: 2px solid var(--clr-text-dark) !important;
}

@media screen and (max-width: $screen-xl) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: $screen-lg) {
  html {
    font-size: 10px;
  }
}
@media screen and (max-width: $screen-md) {
  html {
    font-size: 10px;
  }
  h1 {
    font-size: 6rem;
  }
}
@media screen and (max-width: $screen-sm) {
}
@media screen and (max-width: $screen-xs) {
}
